body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  text-align: center;
}

.malla {
  max-width: 900px;
  margin: auto;
}

.semestre {
  background: #eeeeee;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.ramo {
  background: white;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid #ccc;
  cursor: pointer;
  margin-bottom: 10px;
}

.ramo.bloqueado {
  background: #ddd;
  color: #999;
  cursor: not-allowed;
}

.ramo.aprobado {
  background: #c8f7c5;
  border-color: #27ae60;
}
